---
import Layout from '../layouts/Layout.astro';
import Card from '../components/BlogCard.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <Card />
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
  }
</style>
