<div class="quote__container">
  <p>Annie Spratt</p>
</div>

<style>
  .quote__container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 1.25 0;
  }
  .quote__container p {
    color: var(--color-grey1);
    font-size: smaller;
  }
  hr {
    color: var(--color-grey1);
  }
</style>
