<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Minimal Blog Card by Chuans</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
    --color-white: #FFFFFF;
    --color-grey1: #6C727F;
    --color-grey2: #E5EAF0;
    --color-grey3: #FAFAF9;
    --color-livid: #20293A;
    --color-ligtPink: #E6D6FC;
    --color-purple: #883AE1;
    --color-purpleh: rgba(136, 58, 225, 0.2);
	}
  html {
    font-family: 'Sora', sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-grey3);
  }
  p {
    font-weight: 300;
  }
</style>
